.table {
  font-size: 14px;
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.App-header {
  gap: 25px;
  padding: 50px;
}

.thead {
  font-weight: bold;
  background-color: hsl(0, 0%, 95%);
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  text-align: center;
}

img {
  margin: 0 auto;
}